@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.5rem;
    }
}

@layer utilities {
    .flex-between {
        @apply flex justify-between items-center;
    }
    .search-bar{
        @apply flex items-center bg-[#49243E] border border-[#a6787e] rounded-full px-5 py-2 w-[400px];
    }
    .text-30-extrabold {
        @apply text-[30px] font-extrabold text-white;
    }
    .icons
    {
    @apply flex items-center space-x-6;
    }
    .text-30-bold {
        @apply text-[30px] font-bold text-black;
    }
    .text-26-bold{
        @apply font-bold text-[26px] text-black;
    }
    .text-30-semibold {
        @apply font-semibold text-[30px] text-black;
    }

    .text-26-semibold {
        @apply font-semibold text-[26px] text-black;
    }

    .text-24-black {
        @apply text-[24px] font-black text-black;
    }

    .text-20-medium {
        @apply font-medium text-[20px] text-black;
    }

    .text-16-medium {
        @apply font-medium text-[16px] text-black;
    }

    .text-14-normal {
        @apply font-normal text-sm text-white-100/80;
    }

    .text-godiste{
        @apply font-medium text-sm text-black;
    }
    .tag {
        @apply bg-secondary px-6 py-3 font-work-sans font-bold rounded-sm uppercase relative tag-tri;
    }
    
    .tag-tri {
        @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
    }
    /*  NAVBAR  */

    .navigation-bar{
        @apply flex sm:flex-row flex-col py-3 px-5 justify-between items-center font-work-sans font-normal bg-white shadow-sm text-black ; 
    }
    .nav-links{
        @apply  flex sm:flex-row sm:items-center sm:gap-5 flex-col items-center ;
    }
    .nav-text{
        @apply sm:text-[16px] ;
    }

    /*  HERO SECTION    */

    .orange_container {
        @apply w-full bg-primary min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;
    }

    .heading {
        @apply uppercase bg-black px-6 py-3 font-work-sans font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
    }

    .sub-heading {
        @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
     }

    /*  SEARCH FORM COMPONENT   */
    .search_form{
        @apply mt-8 px-5 max-w-3xl w-full min-h-[50px] sm:min-h-[80px] bg-white border-black border-[5px] rounded-[80px] flex flex-row gap-5 sm:text-[24px] text-[20px] font-bold items-center overflow-auto  ;
    }

    .search-input {
        @apply flex-1 font-bold placeholder:font-semibold placeholder:text-black-100 w-full h-auto outline-none;
    }

    .search-btn {
        @apply sm:size-[50px] size-[30px] rounded-full bg-black flex justify-center items-center !important;
    }

    /*  DROPDOWN    */
    .dropdown{
        @apply inline-flex w-full justify-center items-center gap-x-1.5 px-3  font-semibold  ;
    }

    .dropdown-menuitems{
        @apply absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 transition focus:outline-none data-[closed]:scale-95 data-[closed]:transform data-[closed]:opacity-0 data-[enter]:duration-100 data-[leave]:duration-75 data-[enter]:ease-out data-[leave]:ease-in;
    }

    .dropdown-menuitem{
        @apply block px-4 py-2 text-sm text-gray-700 data-[focus]:bg-gray-100 data-[focus]:text-gray-900 data-[focus]:outline-none
    }
    /* PRODUCTS SECTION */

    .section_container {
        @apply px-6 py-10 max-w-7xl mx-auto;
    }

    .card_grid {
        @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
    }

    .no-result {
        @apply text-black-100 text-sm font-normal;
    }
    .product-card {
        @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] shadow-100 hover:border-black transition-all duration-500 hover:shadow-300 hover:bg-orange-100;
    }
    .product-card_date {
        @apply font-medium text-[16px] sm:text-white-100 bg-secondary-300 px-4 py-2 rounded-full transition-all duration-500 group-hover:bg-primary-500;
    }
    .product-cena{
        @apply bg-yellow-400 rounded-[20px] px-4 py-2 font-semibold text-[20px] text-white;
    }
    .product-card_desc {
        @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-all;
    }

    .product-card_img {
        @apply w-full h-[164px] rounded-[10px] object-cover;
    }

    .product-card_btn {
        @apply rounded-full bg-black-200 transition-all duration-500 group-hover:bg-primary font-medium text-[16px] text-white px-5 py-3 !important;
    }
    .cena-tag {
        @apply font-bold text-[26px] bg-secondary-300 text-white px-5 py-2 rounded-full;
      }

    .button-yellow{
        @apply mx-auto mt-14 text-white transition transform hover:scale-105 hover:bg-orange-300 duration-500 hover:shadow-lg rounded-[20px] px-5 py-4 font-semibold bg-primary-500;
    }
    .pattern {
        background-image: linear-gradient(
                to right,
                transparent 49.5%,
                rgba(251, 232, 67, 0.2) 49.5%,
                rgba(251, 232, 67, 0.6) 50.5%,
                transparent 50.5%
        );
        background-size: 6% 100%;
        background-position: center;
        background-repeat: repeat-x;
    }

    .tag-tri {
        @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
    }
}

.w-md-editor-toolbar {
    padding: 10px !important;
}

/*---------PROBA----------------*/



